.producto__barra__lista__item__imagen {
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    box-shadow: 0 0 0.7rem rgb(28, 27, 27);
    max-width: 160px;
     min-height: 162.172px; 
    transition: 2s ease;

   
}
.producto__barra__lista__item__imagen:hover{
    box-shadow: 0 0 0.5rem rgb(28, 27, 27);
transform: scale(1.1); 
}
