.sinResultados {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1px;
}

.sinResultados img {
    width: 25vw;
    border: 1px black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    
    ;
}


.sinResultados h1 {
    font-family: 'Raleway';
    font-size: 1.5rem;
}

@media (max-width: 480px) {
    .sinResultados h1 {
        font-size: 1rem;
    }
    .sinResultados img {
        width: 55vw;
    }
}